.container {
    display: flex;
    justify-content: space-around;

}

.cat-name-list {
    width: 30%;
}

.display-cat {
    position: relative;
    width: 50%;
}

.cat-name {
    color: white;
    padding: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(128, 128, 128, .3);
}

img {
    width: 100%;
}